@import "../node_modules/rfs/scss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap");

.btn-sm,
.btn-group-sm > .btn {
  border-radius: 0.45rem;
}

.tooltip {
  margin-left: 1em;

  &.show {
    opacity: 1;
  }

  .tooltip-inner {
    border: 0.2px rgb(72, 72, 216) solid;
    box-shadow: 0px 0px 8px 2px rgba(72, 72, 216, 0.35);
    border-radius: 0.45rem;
    background-color: #dbdbdba9;
    backdrop-filter: blur(7px);
    text-align: left;
    padding: 1em 1em 1em 1.3em;
    color: rgb(44, 44, 44);
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: #4848d8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: rgb(236, 236, 236);
}

.custom-nav-main {
  &:focus {
    outline: none;

    .custom-button {
      background-color: rgb(72, 72, 216);
      border-color: rgb(72, 72, 216);
      color: white;
    }
  }

  .custom-button {
    background-color: rgb(163, 163, 163);
    border-color: rgb(163, 163, 163);
    color: rgb(209, 209, 209);

    &:hover {
      background-color: rgb(134, 134, 134);
      border-color: rgb(134, 134, 134);
      color: rgb(233, 233, 233);
    }

    &.active {
      background-color: rgb(72, 72, 216);
      border-color: rgb(72, 72, 216);
      box-shadow: 0px 0px 8px 2px rgba(72, 72, 216, 0.35) !important;
      color: white;
    }
  }
}

.custom-h1-home {
  @include font-size(9rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 800;

  small {
    font-weight: 400;
  }

  svg {
    vertical-align: text-top;
  }
}

.custom-p-home {
  @include font-size(2rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: end;
  cursor: pointer;
  margin-top: 1em;
  text-decoration: underline;

  svg {
    vertical-align: text-top;
    margin-right: 0.5em;
  }
}

.custom-footer-home {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.custom-wrapper-mini {
  height: 100%;

  .custom-desc-mini {
    width: 40%;

    .custom-h1-mini {
      @include font-size(3rem);
      font-family: "Work Sans", sans-serif;
      font-weight: 800;

      small {
        font-weight: 400;
      }

      svg {
        vertical-align: text-top;
      }

      .custom-info-mini {
        color: #a3a3a3;
        cursor: help;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:hover {
          color: #4848d8;
        }
      }
    }
  }

  .custom-program-mini {
    flex-grow: 1;

    .custom-card-mini {
      padding: 2.5rem 2rem;
      border-radius: 0.45rem;
      background-color: rgb(219, 219, 219);
      height: fit-content;
      width: 334.8px;

      .custom-p-mini {
        @include font-size(0.95rem);
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
      }

      .custom-input {
        width: 80%;

        &.input-01 {
          width: 70%;
        }
      }

      .custom-unit {
        width: 20%;

        &.unit-01 {
          width: 30%;
        }
      }

      .custom-button-mini {
        background-color: rgb(103, 103, 241);
        border-color: rgb(103, 103, 241);
        color: rgb(233, 233, 233);

        &:hover {
          background-color: rgb(72, 72, 216);
          border-color: rgb(72, 72, 216);
          color: rgb(233, 233, 233);
        }

        &:focus {
          background-color: rgb(72, 72, 216);
          border-color: rgb(72, 72, 216);
          box-shadow: 0px 0px 8px 2px rgba(72, 72, 216, 0.35);
          color: white;
        }
      }
    }
  }
}
